.DS_Store

*.dll
*.dylib

# Robotic logs
z.costReport
z.costReport.plt
z.log.global
z.plotcmd
z.komo*
*.npy
#compile temporaries 
build/
photos/
.*csv
*.exe
*.o
*.a
*.so
*.swp

#python temporaries
__pycache__/
*.pyc
.ipynb_checkpoints

#data
data/
*.pcd
*.json
scene_image.jpg
outcmaes/
outputs/
paths/
